@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #2a2e32;
}
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
  margin-right: 10px;
}
.showcase {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}
.list {
  background-color: whitesmoke;
  padding: 30px 35px;
  border-radius: 15px;
  height: 70%;
  width: 30%;
  position: relative;
  -webkit-box-shadow: 0 0 30px #2a2e32;
  box-shadow: 0 0 30px #2a2e32;
}
h1 {
  font-size: 2.7rem;
  font-weight: 500;
  text-align: center;
}

/* buttons */
.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
button {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: whitesmoke;
  color: slateblue;
  border: slateblue 2px solid;
  padding: 5px;
  border-radius: 10px;
  margin: auto;
  transition: 0.4s;
}
button:hover {
  letter-spacing: 2px;
  background-color: slateblue;
  color: #fff;
}
.add-btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 3rem;
  transform: translateX(-50%);
  cursor: pointer;
  transition: 0.3s;
}
.add-btn:hover {
  color: green;
}

input {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  background-color: whitesmoke;
}
/* icon styles */
.fa-times {
  transition: 0.2s;
  cursor: pointer;
  font-size: 2rem;
}
.fa-times:hover {
  color: red;
}
.fa-square {
  transition: 0.2s;
  font-size: 2rem;
  cursor: pointer;
}
.fa-square:hover {
  color: green;
}
.fa-check-square {
  transition: 0.2s;
  font-size: 2rem;
  cursor: pointer;
}

.fa-check-square:hover {
  color: orangered;
}
/* for adding li */
.over {
  overflow: auto;
  height: 50%;
  margin-bottom: 30px;
}

.info {
  text-align: center;
}
.info span {
  color: slateblue;
}

.error-message {
  color: red;
  font-weight: 500;
}
.fa-eye-slash {
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.4s;
}
.fa-eye-slash:hover {
  color: #4c6ef5;
}
.fa-eye {
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.4s;
}
.fa-eye:hover {
  color: #4c6ef5;
}

@media (max-width: 1200px) {
  button {
    font-size: 0.9rem;
  }
  .add-btn {
    font-size: 2.5rem;
  }
  .fa-check-square {
    font-size: 1.5rem;
  }
  .fa-square {
    font-size: 1.5rem;
  }
  .fa-times {
    font-size: 1.5rem;
  }
  input {
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  button {
    font-size: 0.8rem;
    letter-spacing: 0;
  }
  input {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .list {
    width: 60%;
  }
}
