// variables
$primary: #402c5d;
$border-radius: 0;
$border-radius-sm: 0;

$form-validation-states: (
  "valid": (
    "color": green,
    "icon": "",
  ),
  "invalid": (
    "color": red,
    "icon": "",
  ),
) !default;

$form-select-feedback-icon-padding-end: 2.25rem !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
// css file
@import "style";
