<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management System</title>
    <!-- css -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  </head>
  <body ng-app="myModule">
    <!-- top-bar -->
    <nav class="nav bg-primary text-light position-relative">
      <i class="fas fa-user-tag ps-3 pt-2 pb-3 fs-3"></i>
      <h3 class="position-absolute w-100 pt-2">User Management System</h3>
    </nav>

    <!-- showcase -->
    <div ng-controller="myController" class="showcase pt-5 w-75 mx-auto">
      <!-- showcase-topbar -->
      <nav class="nav bg-primary text-light position-relative">
        <i class="fas fa-users p-2 fs-4"></i>
        <h4 class="position-absolute w-100 pt-1">User Data List</h4>
      </nav>

      <!-- search user and add user -->
      <div class="input-group input-group-sm my-2 px-3">
        <input
          type="text"
          class="form-control"
          aria-label="Search"
          aria-describedby="search users"
          placeholder="Search"
          ng-model="searchText"
        />
        <!-- Button trigger modal -->
        <button
          id="model-btn"
          type="button"
          class="btn btn-outline-primary ms-2"
          data-bs-toggle="modal"
          data-bs-target="#formModal"
        >
          Add user
        </button>
        <!-- change number of rows -->
        <div class="dropdown">
          <button
            id="rowSelect"
            type="button"
            class="btn btn-sm btn-outline-primary ms-2 dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Rows
          </button>
          <ul class="dropdown-menu" aria-labelledby="rowSelect">
            <li>
              <a
                class="dropdown-item"
                href="#"
                ng-click="pageSize=5;currentPage = 0"
                >5</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                ng-click="pageSize=10;currentPage = 0"
                >10</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="#"
                ng-click="pageSize=15;currentPage = 0"
                >15</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="table-responsive px-3">
        <table class="table table-hover table-bordered">
          <caption ng-show="getEmployees().length >= (currentPage+1)*pageSize ">
            {{((currentPage)*pageSize)+1}}-{{(currentPage+1)*pageSize}} out of
            {{getEmployees().length}}
          </caption>
          <caption ng-show="(currentPage+1)*pageSize >= getEmployees().length">
            {{((currentPage)*pageSize)+1}}-{{getEmployees().length}} out of
            {{getEmployees().length}}
          </caption>
          <thead>
            <tr>
              <th class="col-name">Name</th>
              <th class="col-email">Email</th>
              <th class="col-phone">Phone</th>
              <th class="col-gender">Gender</th>
              <th class="col-age">Age</th>
            </tr>
          </thead>
          <tbody title="Click for more details">
            <tr
              ng-click="setEmployee(employee)"
              data-bs-toggle="modal"
              data-bs-target="#completeDetails"
              ng-repeat="employee in employees | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize"
            >
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.phone}}</td>
              <td><i class="fas fa-{{employee.gender}}"></i></td>
              <td>{{employee.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- pagination -->
      <ul
        ng-show="numberOfPages() > 1"
        class="pagination d-flex justify-content-center mt-4"
      >
        <!-- previous  button -->
        <li ng-show="currentPage == 0" class="page-item prev disabled">
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            ng-click="currentPage=currentPage-1"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!-- disabled previous  button -->
        <li ng-show="currentPage != 0" class="page-item prev">
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            ng-click="currentPage=currentPage-1"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!-- first link will be active -->
        <li class="page-item page-number active" ng-click="goToPage(0)">
          <a class="page-link" href="#">1</a>
        </li>
        <!-- other links;calc pages and create using ng-repeat -->
        <li
          class="page-item page-number"
          ng-repeat="page in [] | range:numberOfPages()"
        >
          <a class="page-link" href="#" ng-click="goToPage(page-1)">{{page}}</a>
        </li>
        <!-- next button -->
        <li
          ng-show="getEmployees().length/pageSize - 1 > currentPage"
          class="page-item next"
        >
          <a
            class="page-link"
            href="#"
            aria-label="Next"
            ng-click="currentPage=currentPage+1"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        <!-- disabled next button-->
        <li
          ng-show="currentPage >= getEmployees().length/pageSize - 1"
          class="page-item next disabled"
        >
          <a
            class="page-link"
            href="#"
            aria-label="Next"
            ng-click="currentPage=currentPage+1"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <!-- Modal form -->
      <div
        class="modal fade"
        id="formModal"
        tabindex="-1"
        aria-labelledby="userInputModal"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="formModalLabel">
                User registration form
              </h5>
              <button
                type="button"
                class="btn-close form-modal-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ng-click="resetForm()"
              ></button>
            </div>
            <div class="modal-body">
              <!-- form -->
              <form class="needs-validation text-start" novalidate>
                <!-- personal details -->
                <div class="row g-3">
                  <!-- name -->
                  <div class="col-md-6">
                    <label for="username" class="form-label">Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="userName"
                      placeholder="John Doe"
                      aria-label="name"
                      aria-describedby="Username"
                      required
                    />
                    <div class="invalid-feedback">
                      Please provide your name.
                    </div>
                  </div>
                  <!-- email -->
                  <div class="col-md-6">
                    <label for="userEmail" class="form-label">Email:</label>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="name@example.com"
                      id="userEmail"
                      aria-label="email"
                      aria-describedby="UserEmail"
                      required
                    />
                    <div class="invalid-feedback">Provide a valid email.</div>
                  </div>
                  <!-- address -->
                  <div class="col-md-12">
                    <label for="userAddress" class="form-label">Address:</label>
                    <textarea
                      class="form-control"
                      id="userAddress"
                      placeholder="1234 Main St"
                      required
                    ></textarea>
                    <div class="invalid-feedback">
                      Please provide your address.
                    </div>
                  </div>
                  <!-- phone -->
                  <div class="col-md-5">
                    <label for="userPhone" class="form-label">Phone:</label>
                    <input
                      type="tel"
                      pattern="[1-9]{1}[0-9]{9}"
                      class="form-control"
                      id="userPhone"
                      placeholder="9050607080"
                      aria-label="number"
                      aria-describedby="PhoneNumber"
                      required
                    />
                    <div class="invalid-feedback">
                      Provide a valid Phone no.
                    </div>
                  </div>
                  <!-- gender -->
                  <div class="col-md-3">
                    <label for="userGender" class="form-label">Gender:</label>
                    <select
                      class="form-select"
                      aria-label="select"
                      id="userGender"
                      required
                    >
                      <option selected disabled value="">Select</option>
                      <option value="male">male</option>
                      <option value="female">female</option>
                    </select>
                    <div class="invalid-feedback">Select an option.</div>
                  </div>
                  <!-- dob -->
                  <div class="col-md-4">
                    <label for="dob" class="form-label"
                      >Dob:
                      <span class="text-muted" id="userAge">{{calcAge()}}</span>
                      <span class="text-muted"> year(s)</span>
                    </label>
                    <input
                      id="dob"
                      type="date"
                      class="form-control"
                      ng-model="age"
                      aria-label="dob"
                      aria-describedby="dob"
                      required
                    />
                    <div class="invalid-feedback">Select your birthday.</div>
                  </div>
                </div>
                <!-- Qualifications -->
                <div class="row g-1 text-center">
                  <h5 class="mt-4">Education & Qualification(optional)</h5>
                  <!-- error message -->
                  <div id="error" style="color: red; display: none">
                    Please fill all the fields
                  </div>
                  <!-- Input -->
                  <div class="col-md-12 py-2">
                    <div class="row g-1">
                      <!-- education -->
                      <div class="col-md-2">
                        <label for="education" class="form-label"
                          >Education</label
                        >
                        <select
                          class="form-select no-validate"
                          aria-label="education"
                          id="education"
                        >
                          <option selected disabled value="">Select</option>
                          <option value="Phd">Phd.</option>
                          <option value="Post Graduation">
                            Post Graduation
                          </option>
                          <option value="Bachelor's degree">
                            Bachelor's degree
                          </option>
                          <option value="Diploma">Diploma</option>
                          <option value="High school">High school</option>
                        </select>
                      </div>
                      <!-- institute -->
                      <div class="col-md-2">
                        <label for="institute" class="form-label"
                          >Institute</label
                        >
                        <input
                          type="text"
                          class="form-control no-validate"
                          id="institute"
                        />
                      </div>
                      <!-- Start Date -->
                      <div class="col-md-2">
                        <label for="startDate" class="form-label"
                          >Start-date</label
                        >
                        <input
                          type="date"
                          placeholder="MM-dd-yyyy"
                          class="form-control no-validate"
                          id="startDate"
                        />
                      </div>
                      <!-- End Date -->
                      <div class="col-md-2">
                        <label for="endDate" class="form-label">End-date</label>
                        <input
                          type="date"
                          placeholder="MM-dd-yyyy"
                          class="form-control no-validate"
                          id="endDate"
                        />
                      </div>
                      <!-- marks -->
                      <div class="col-md-2">
                        <label for="marks" class="form-label">Marks</label>
                        <input
                          type="text"
                          class="form-control no-validate"
                          id="marks"
                        />
                      </div>
                      <!-- buttons -->
                      <div class="col-md-2">
                        <label for="action" class="form-label">Action</label>
                        <div
                          class="
                            d-flex
                            justify-content-center
                            align-items-center
                          "
                        >
                          <i
                            ng-click="addRow()"
                            class="fas fa-plus-square p-1"
                            style="color: slateblue"
                          ></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- list of qualifications -->
                  <div class="col-md-12 py-2" ng-repeat="degree in degrees">
                    <div class="d-flex justify-content-between px-2">
                      <p class="pt-1">
                        {{degree.education}} from {{degree.institute}}
                        ({{degree.startDate}} to {{degree.endDate}}). Scoring
                        {{degree.marks}}
                      </p>
                      <i
                        ng-click="delRow($index)"
                        class="fas fa-times p-1"
                        style="color: red"
                      ></i>
                    </div>
                  </div>
                </div>
                <!-- submit -->
                <div class="input-group mt-3 py-2">
                  <button type="submit" class="btn btn-outline-success mx-auto">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal user details -->
      <div
        class="modal fade"
        id="completeDetails"
        tabindex="-1"
        aria-labelledby="userDetails"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Complete user data</h4>
              <button
                type="button"
                class="btn-close info-modal-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                data-bs-target="#carousel"
                data-bs-slide-to="0"
              ></button>
            </div>
            <div class="modal-body">
              <div
                id="carousel"
                class="carousel slide"
                data-bs-ride="carousel"
                data-bs-interval="false"
              >
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <h5>Personal Details</h5>
                    <div
                      class="py-3 row g-3 text-start"
                      style="overflow-wrap: break-word"
                    >
                      <div class="col-md-6">
                        <p>
                          <span class="fw-bolder">Name:</span>
                          {{selectedEmployee.name}}
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p>
                          <span class="fw-bolder">Email:</span>
                          {{selectedEmployee.email}}
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p ng-show="selectedEmployee.dob">
                          <span class="fw-bolder">Dob:</span>
                          {{selectedEmployee.dob}}
                        </p>
                        <p ng-show="!selectedEmployee.dob">
                          <span class="fw-bolder">Dob:</span> Not available.
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p class="text-capitalize">
                          <span class="fw-bolder">Gender:</span>
                          {{selectedEmployee.gender}}
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p ng-show="selectedEmployee.address">
                          <span class="fw-bolder">Address:</span>
                          {{selectedEmployee.address}}
                        </p>
                        <p ng-show="!selectedEmployee.address">
                          <span class="fw-bolder">Address:</span> Not available.
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p>
                          <span class="fw-bolder">Phone:</span>
                          {{selectedEmployee.phone}}
                        </p>
                      </div>

                      <div class="col-md-6">
                        <p>
                          <span class="fw-bolder">Age:</span>
                          {{selectedEmployee.age}}
                        </p>
                      </div>
                    </div>
                    <i
                      class="fas fa-arrow-right fs-5"
                      data-bs-target="#carousel"
                      data-bs-slide-to="1"
                      aria-label="Slide 2"
                    ></i>
                  </div>
                  <div class="carousel-item">
                    <h5 class="pb-2">Education & Qualification</h5>
                    <div
                      ng-if="!selectedEmployee.degrees"
                      class="text-center"
                      style="height: 200px"
                    >
                      No data Available
                    </div>
                    <div
                      class="row py-2 text-start"
                      ng-repeat="degree in selectedEmployee.degrees"
                    >
                      <p>
                        {{degree.education}} from {{degree.institute}}
                        ({{degree.startDate}} to {{degree.endDate}}). Scoring
                        {{degree.marks}}
                      </p>
                    </div>
                    <i
                      class="fas fa-arrow-left fs-5 pt-3"
                      data-bs-target="#carousel"
                      data-bs-slide-to="0"
                      aria-current="true"
                      aria-label="Slide 1"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- success message -->
      <div
        class="
          alert alert-primary
          fade
          d-flex
          justify-content-center
          p-2
          mt-2
          w-75
          mx-auto
        "
        role="alert"
      >
        <div><strong>New User Added</strong></div>
      </div>
    </div>

    <!-- footer -->
    <footer
      class="
        d-flex
        justify-content-between
        align-items-center
        px-4
        border-top border-dark
        text-secondary
      "
    >
      <p>&copy;Patientbond 2021</p>
      <img src="img/PB_LOGO_041718_Small.svg" alt="logo" style="height: 58px" />
    </footer>

    <script src="app.js"></script>
    <!-- Bootstrap javascript local -->
    <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- Bootstrap cdn -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
