<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Management System</title>
    <!-- css -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
  </head>
  <body ng-app="myModule">
    <!-- top-bar(p=padding) -->
    <nav class="nav">
      <i class="fas fa-user-tag p-3" style="font-size: 1.7rem"></i>
      <h3>User Management System</h3>
    </nav>

    <!-- showcase -->
    <!-- my=margin-top&bottom py(same)-->
    <div ng-controller="myController" class="showcase my-4">
      <!-- showcase-topbar -->
      <nav class="nav py-2">
        <!-- ps=padding-start -->
        <i class="fas fa-users ps-3" style="font-size: 1.5rem"></i>
        <h4>User Data List</h4>
      </nav>

      <!-- search user and add user -->
      <div class="input-group input-group-sm my-2">
        <input
          type="text"
          class="form-control"
          aria-label="search input"
          aria-describedby="search users"
          placeholder="Search"
          ng-model="searchText"
        />
        <!-- Button trigger modal -->
        <button
          id="model-btn"
          type="button"
          class="btn btn-outline-primary ms-2"
          data-bs-toggle="modal"
          data-bs-target="#formModal"
        >
          Add user
        </button>
      </div>

      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th class="col-name">Name</th>
              <th class="col-email">Email</th>
              <th class="col-phone">Phone</th>
              <th class="col-gender">Gender</th>
              <th class="col-age">Age</th>
            </tr>
          </thead>
          <tbody>
            <!-- filteredEmployees array contains search results and startFrom is for pagination  -->
            <tr
              ng-repeat="employee in filteredEmployees = (employees | filter:searchText)  | limitTo:5:startFrom"
            >
              <td>{{employee.name}}</td>
              <td>{{employee.email}}</td>
              <td>{{employee.phone}}</td>
              <td><i class="fas fa-{{employee.gender}}"></i></td>
              <td>{{employee.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- pagination -->
      <ul
        ng-if="calcPages(filteredEmployees.length) > 1"
        class="pagination d-flex justify-content-center mt-4"
      >
        <!-- previous  button -->
        <li class="page-item disabled prev">
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            ng-click="prevClick()"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!-- First link will be active -->
        <li class="page-item active" ng-click="goToPage(1)">
          <a class="page-link" href="#">1</a>
        </li>
        <!-- other links;calc pages and create using ng-repeat -->
        <li
          class="page-item"
          ng-repeat="page in [] | range:calcPages(filteredEmployees.length)"
        >
          <a class="page-link" href="#" ng-click="goToPage(page)">{{page}}</a>
        </li>
        <!-- next button -->
        <li class="page-item next">
          <a
            class="page-link"
            href="#"
            aria-label="Next"
            ng-click="nextClick()"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
      <!-- Modal -->
      <div
        class="modal fade"
        id="formModal"
        tabindex="-1"
        aria-labelledby="userInputModal"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header text-dark bg-secondary">
              <h5 class="modal-title" id="formModalLabel">Fill the form</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                ng-click="resetForm()"
              ></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" novalidate>
                <!-- Name -->
                <div class="mb-3 row">
                  <label for="formControlInput1" class="col-sm-2 col-form-label"
                    >Name:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      id="validationCustom01"
                      placeholder="John Doe"
                      aria-label="name"
                      aria-describedby="user-name"
                      required
                    />
                    <div class="invalid-feedback">
                      Please provide your name.
                    </div>
                  </div>
                </div>
                <!-- email -->
                <div class="mb-3 row">
                  <label for="formControlInput1" class="col-sm-2 col-form-label"
                    >Email:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="name@example.com"
                      id="validationCustom02"
                      aria-label="email"
                      aria-describedby="user-email"
                      required
                    />
                    <div class="invalid-feedback">
                      Please provide a valid email.
                    </div>
                  </div>
                </div>
                <!-- phone -->
                <div class="mb-3 row">
                  <label for="formControlInput1" class="col-sm-2 col-form-label"
                    >Phone:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="tel"
                      pattern="[1-9]{1}[0-9]{9}"
                      class="form-control"
                      id="validationCustom03"
                      placeholder="Enter your phone number"
                      aria-label="number"
                      aria-describedby="phone-number"
                      required
                    />
                    <div class="invalid-feedback">
                      Please provide a valid Phone no..
                    </div>
                  </div>
                </div>
                <!-- gender -->
                <div class="mb-3 row">
                  <label for="formControlInput1" class="col-sm-2 col-form-label"
                    >Gender:</label
                  >
                  <div class="col-sm-10">
                    <select
                      class="form-select"
                      aria-label="select"
                      id="validationCustom04"
                      required
                    >
                      <option selected disabled value="">Select</option>
                      <option value="male">male</option>
                      <option value="female">female</option>
                    </select>
                    <div class="invalid-feedback">Select your gender.</div>
                  </div>
                </div>
                <!-- age -->
                <div class="mb-3 row">
                  <label for="formControlInput1" class="col-sm-2 col-form-label"
                    >Age:</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="number"
                      min="1"
                      max="100"
                      id="validationCustom05"
                      required
                      class="form-control"
                      placeholder="18"
                      aria-label="age"
                      aria-describedby="user-age"
                    />
                    <div class="invalid-feedback">Please provide your age.</div>
                  </div>
                </div>
                <!-- submit button -->
                <div class="input-group mb-3">
                  <button type="submit" class="btn btn-outline-success mx-auto">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- success message -->
      <div
        class="alert alert-primary d-flex justify-content-center fade p-2 mt-2"
        role="alert"
        style="width: 60%"
      >
        <div><strong>New User Added</strong></div>
      </div>
    </div>

    <!-- footer(px=padding-left&right) -->
    <footer class="d-flex justify-content-between align-items-center px-4">
      <p>&copy;Patientbond 2021</p>
      <img src="img/PB_LOGO_041718_Small.svg" alt="logo" style="height: 58px" />
    </footer>

    <script src="app.js"></script>
    <!-- Bootstrap -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap cdn -->
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
      crossorigin="anonymous"
    ></script> -->
  </body>
</html>
